<!-- <div class="container p-5 mt-4 bg-info">
  <h1>Business Card Requiest Form</h1>
  <form action="">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="" class="form-label">Name*</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="" class="form-label">Last Name*</label>
        <input type="text" placeholder="Last" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="" class="form-label">Email*</label>
        <input type="email" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="" class="form-label">Website</label>
        <input type="text" placeholder="Last" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="" class="form-label">Phone*</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="" class="form-label">Company</label>
        <input type="text" placeholder="Last" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <h1>Card Design</h1>
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-6 col-xs-12">
        <label for="" class="form-label">Name On Card*
        </label>
        <div class="d-flex g-md-2">
          <input type="text" class="form-control " placeholder="First">
          <input type="text" class="form-control " placeholder="Last">
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="" class="form-label">Job title*</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label class="form-label">Include:</label>
        <div class="form-check">
          <input type="checkbox" id="includeEmail" class="form-check-input">
          <label for="includeEmail" class="form-check-label">Email</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="includePhone" class="form-check-input">
          <label for="includePhone" class="form-check-label">Phone</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="includeWebsite" class="form-check-input">
          <label for="includeWebsite" class="form-check-label">Website</label>
        </div>
        <div class="form-check">
          <input type="checkbox" id="includeCompany" class="form-check-input">
          <label for="includeCompany" class="form-check-label">Company</label>
        </div>
      </div>
      <div class="form-group col-md-6 ">
        <label for="" class="form-label">Upload logos or Grapics</label>
        <input type="file" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class="form-label text-center">Checkbox Selection</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="checkbox1">
          <label class="form-check-label ml-md-2" for="checkbox1">
            Option 1
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="checkbox" value="2" id="checkbox2">
          <label class="form-check-label" for="checkbox2">
            Option 2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="3" id="checkbox3">
          <label class="form-check-label" for="checkbox3">
            Option 3
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      .<div class="form-group col-md-12">
        <label class="form-label" for="">please provide any attional notes</label>
        <textarea name="" id="" class="form-control"></textarea>
      </div>
    </div>

  </form>


</div> -->

<app-parent></app-parent>